* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 100%;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.padding {
    padding: 1em 7em;
}

.padding-footer {
    padding: 1em 12em;
}

img {
    height: 100% !important;
    max-width: 100% !important;
    display: block !important;
    object-fit: cover;
}


/* NAVIGATION */

.top-image {
    height: 60vh;
    background: url('./images/IMG_0653.png');
    background-position: 55% 52%;
}

.top-image:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
  }

.top-image-content {
    padding: 0 2em;
}

.top-image a {
    font-size: 80% !important;
}

.dropdown a {
    font-size: 70% !important;
}

#logo h1{
    color: white !important;
    position: relative;
    z-index: 0;
}

#hamburger {
    display: none;
}

.full-nav {
    margin-top: -2.3em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.left-nav a {
    padding-left: 1em;
}

.right-nav a {
    padding-right: 1em;
}

#search-icon {
    color: white;
    margin-left: 1em;
}

.top-icons {
    z-index: 1;
    position: relative;
    color: white !important;
    margin-right: 1.6em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5em;
}

.overlay-text {
    position: relative;
    text-align: center;
    margin-top: 5.5em;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 1em 3em;
}

.overlay-text p {
    letter-spacing: .2em;
    font-size: 150% !important;
    font-weight: 500;
}

.overlay-text a {
    padding: 1em;
    border: 3px solid white;
    border-radius: 0;
    margin-top: 1.5em;
    font-size: 130% !important;
    letter-spacing: .3em;
}


/* CARDS */
#best-sellers {
    position: relative;
    z-index: 1;
    background-color: #eeebeb !important;
    padding-top: 2em !important;
}

#best-sellers h2 {
    font-weight: 700;
}

#best-sellers hr {
    border-width: 2px;
    margin-top: 3em !important;
}

.bestseller-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.img-div {
    height: 15.625em;
}

.text-div {
    background: white !important;
}

.text-div p {
    margin: 0 !important;
    padding: 0em .5em !important;
}

.text-div span {
    font-size: 65%;
    position: relative;
    top: -0.3em;
}

.padding p {
    font-size: 90%;
}

.dot {
    width: 15px;
    height: 15px;
    background: white !important;
    opacity: 0.6;
    shape-outside: circle();
    clip-path: circle();
}

.dots {
    margin-left: auto !important;
    margin-right: auto !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em !important;
    width: 10%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.dots .active {
    opacity: 1.0;
}


/* BEST WEEKS */
#best-weeks {
    position: relative;
    z-index: 1;
    background-color: #eeebeb !important;
    padding-top: 0em !important;
}

#best-weeks h2 {
    font-weight: 700;
}

.best-weeks-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.img-weeks-div {
    height: 28.125em;
}

#best-weeks hr {
    border-width: 2px;
    margin-top: 3em !important;
}


/* FAVORITES SECTION */
#favorites {
    position: relative;
    z-index: 1;
    background-color: #eeebeb !important;
    padding-top: 0em !important;
    padding-bottom: 7em !important;
}

#favorites h2 {
    font-weight: 700;
}

.favorites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.img-favorites-div {
    height: 18em;
}



/* FOOTER */
footer {
    position: relative;
    z-index: 1;
    background-color: white !important;
    padding-top: 0em !important;
    color: black !important;
}

footer a {
    color: #333 !important;
    font-size: 80% !important;
}

.contact {
    font-size: 80% !important;
}

footer hr {
    border: 1px solid silver;
}


#social {
    display: flex;
    justify-content: flex-end;
}

#social p {
    align-self: center;
}

#sub-footer a {
    color: #666 !important;
}

.fa-twitter:hover, .fa-facebook-f:hover, .fa-instagram:hover {
    color: #fff;
    background: #000;
}






/* MEDIA QUERIES */

@media(min-width: 768px) and (max-width: 1320px) {
    #search-icon {
        color: white;
        margin-left: 1em;
        margin-top: 1em;
    }

    .top-icons {
        margin-right: 3.5em;
    }

}

@media(min-width: 768px) and (max-width: 1010px) {
    .full-nav {
        margin-top: 0em;
    }
}

@media(min-width: 768px) and (max-width: 1085px) {
    .img-div {
        height: 12em;
    }

    .img-favorites-div {
        height: 15em;
    }

    .padding-footer {
        padding: 1em 8em;
    }

    .img-weeks-div {
        height: 26.125em;
    }

    .top-icons {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 894px) {
    .img-div {
        height: 9em;
    }

    .img-favorites-div {
        height: 11em;
    }

    .padding-footer {
        padding: 1em 6em;
    }

    .img-weeks-div {
        height: 21.125em;
    }

    #sub-footer a {
        font-size: 75% !important;
    }

}

@media(max-width: 768px) {
    .top-image {
        height: 40vh;
        background: url('./images/bg-small.png');
        background-position: 55% 52%;
    }

    #hamburger {
        display: block;
        color: white !important;
        z-index: 1;
        position: relative;
        margin-left: auto;
        top: 1.2em;
        font-size: 150%;
    }

    #hamburger:hover {
        color: #444 !important;
    }

    .top-image-content {
        padding: 0em 1em;
    }

    #logo h1{
        font-size: 200%;
        margin: 0 0;
    }

    .dropdown a {
        font-size: 80% !important;
    }

    .overlay-text {
        position: relative;
        text-align: center;
        margin-top: 0em;
        z-index: 1;
        text-align: center;
        color: white;
        padding: 1em 1em;
    }
    
    .overlay-text p {
        letter-spacing: 0.1em;
        font-size: 80% !important;
        font-weight: 500;
    }
    
    .overlay-text a {
        padding: 1em;
        border: 3px solid white;
        border-radius: 0;
        margin-top: 1.5em;
        font-size: 90% !important;
        letter-spacing: .3em;
    }

    .top-image {
        position: relative;
    }
    

    .nav-small {
        position: absolute;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        margin: 0 !important;
        height: 100%;
        width: 80%;
        top: 0em;
        text-align: center;
        background: #333;
        z-index: 3;
    }

    .nav-links a {
        padding: 1em;
        font-size: 100%;
    }

    .nav-links {
        display: none;
    }

    .left-nav {
        display: flex;
        flex-direction: column;
    }

    .right-nav {
        display: flex;
        flex-direction: column;
    }
    
    .left-nav a {
        padding-left: 0em;
    }
    
    .right-nav a {
        padding-right: 0em;
    }

    #logo {
        margin: 0 0;
    }

    .icon-links {
        position: relative;
    }

    .dropdown {
        margin-top: .6em;
        margin-left: .6em;
    }

    #search-icon {
        margin-top: 1em;;
    }

    .padding {
        padding: 1em 1em;
    }

    .padding-footer {
        padding: 1em 1em;
    }

    .bestseller-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5em;
    }

    .best-weeks-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5em;
    }

    .favorites-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5em;
    }

    #best-weeks h2 {
        font-size: 140%;
    }

    #best-sellers h2 {
        font-size: 140%;
    }

    #favorites h2 {
        font-size: 140%;
    }

    #sub-footer .col-12 {
        display: flex;
        flex-direction: column;
    }

    #sub-footer a {
        padding: 1em 0;
        text-align: center;
    }

    #sub-footer .pl-4 {
        padding-left: 0 !important;
    }

    footer {
        text-align: center;
    }

    #social {
        display: flex;
        flex-direction: column;
        margin-left: .5em;
    }
    
    #social p {
        align-self: center;
        text-align: center;
    }

    .top-icons {
        display: none;
    }
}

